<%- include('../layout/header.ejs',{admin:true}) %>
<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
  .sidebar {
    background-color: #FCC114;
    height: 100vh;
    padding-top: 20px;

    color: black
  }

  .sidebar-header {
    padding: 10px;
    text-align: center;
  }

  .sidebar-brand {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #7E7E7E;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-link.active {
    color: #575757;
  }

  .nav-link:hover {
    color: #FFFFFF;
  }

  .sidebar .nav-link.active {
    background-color: #000;
    border-radius: 10px;
  }


    .card {
      background-color: #f8f9fa;
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-title {
      font-size: 16px;
      color: #555555;
      margin-bottom: 8px;
    }

    .card-text {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
    }

    #salesGraph,
    #paymentPieChart {
      height: 400px;
    }
 
</style>
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-2 col-sm-2 sidebar">
      <!-- <div class="sidebar-header">
        <a class="sidebar-brand" href="/admin">
          Golon Sports
        </a>
      </div> -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'dashboard') { %>active<% } %>" href="/admin/home">
            <i class="bi bi-speedometer2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'salesReport') { %>active<% } %>" href="/admin/sales-report">
            <i class="fas fa-chart-line"></i> Sales Report
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'products') { %>active<% } %>" href="/admin/products">
            <i class="bi bi-basket"></i> Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'users') { %>active<% } %>" href="/admin/users">
            <i class="bi bi-people"></i> Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'orders') { %>active<% } %>" href="/admin/orders">
            <i class="bi bi-file-earmark-text"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'category') { %>active<% } %>" href="/admin/category">
            <i class="bi bi-grid-3x3-gap"></i> Category 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'coupon') { %>active<% } %>" href="/admin/coupon">
            <i class="bi bi-tags-fill"></i> Coupon 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'banner') { %>active<% } %>" href="/admin/banner">
            <i class="fas fa-flag"></i> Banner
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 col-sm-10">
      <div class="row">
        <div class="col-12">
          <!-- <h1>Sales Dashboard</h1> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Sales</h5>
              <p class="card-text"><%=totalSales?totalSales:0%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Revenue</h5>
              <p class="card-text"><%=totalRevenue?totalRevenue:0%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Profit</h5>
              <p class="card-text"><%=lastProfit?lastProfit:0%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Orders</h5>
              <p class="card-text"><%=numberOfOrders?numberOfOrders:0%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Cost</h5>
              <p class="card-text"><%=cost?cost:0%></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 70px;">
        <div class="col-sm-12 col-md-6" >
          <div id="salesGraph"></div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="paymentPieChart"></div>
        </div>
      </div>
    </div>
      <!-- <p>heloooooo, this is Dashboard</p>
      <div><img src="/public/adminimage/Dashboard Screen for Quoting Software.png" alt=""></div> -->
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


<script>
  // Sales graph data
  // var salesData =  JSON.stringify(salesData) 
 var months=JSON.parse(decodeURIComponent('<%=month%>'))
 var monthlySales=JSON.parse(decodeURIComponent('<%=monthlySales%>'))
 if(months==undefined){
  months=''
 }
  var salesOptions = {
    chart: {
      type: 'bar',
      height: '400px'
    },
    series: [{
      name: 'Sales Revenue',
      data: monthlySales
    }],
    xaxis: {
      categories: months
    },
    // colors: ['#FF4D4D', '#FFB84D', '#5EBD5E', '#4D79FF', '#A64DFF', '#FF4D88', '#4DFFFF', '#ADADAD', '#FFEA5D', '#A6FF4D', '#FF914D', '#4DADFF']
  };

  var salesChart = new ApexCharts(document.querySelector("#salesGraph"), salesOptions);
  salesChart.render();

  // Payment pie chart data
  var paymentData =[
  { _id: 'cashOnDelivery', totalGrandTotal: 89216 },
  { _id: 'online-payment', totalGrandTotal: 3666 }
]
  
var series = JSON.parse(decodeURIComponent('<%=series%>'))
var labels =JSON.parse(decodeURIComponent('<%=labels%>'))


  var paymentOptions = {
    chart: {
      type: 'donut',
      height: '400px'
    },
    series: series,
    labels:labels
  };
  var paymentData =  paymentOptions 
  
  var paymentChart = new ApexCharts(document.querySelector("#paymentPieChart"), paymentOptions);
  paymentChart.render();
</script>

<%- include('../layout/footer.ejs',{admin:true}) %>