<%- include('../layout/header.ejs',{admin:true}) %>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">


<style>
  .navbar {
    background-color: #575757;
  }

  .navbar .navbar-brand {
    color: #FCC114;
    font-weight: bold;
  }

  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: white;
  }

  .navbar .search-icon {
    color: white;
    font-size: 20px;
  }

  .navbar .search-input {
    background-color: white;
    color: black;
  }

  .sidebar {
    background-color: #FCC114;
    height: 100vh;
    padding-top: 20px;
    color: black;
  }

  .sidebar-header {
    padding: 10px;
    text-align: center;
  }

  .sidebar-brand {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #7E7E7E;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-link.active {
    color: #575757;
  }

  .nav-link:hover {
    color: #FFFFFF;
  }

  .sidebar {
    background-color: #FCC114;
    height: 100vh;
    padding-top: 20px;
    color: black;
  }

  .sidebar-header {
    padding: 10px;
    text-align: center;
  }

  .sidebar-brand {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #7E7E7E;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-link.active {
    color: #575757;
  }

  .nav-link:hover {
    color: #FFFFFF;
  }

  .sidebar .nav-link.active {
    background-color: #000;
    border-radius: 10px;
  }
</style>
<style>
  /* Header styles */
  #myDataTable tbody tr:hover {
  background-color: #f5f5f5;
}
#myDataTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
#myDataTable {
  border: none;
}
#myDataTable td {
  white-space: normal;
  word-wrap: break-word;
}
#myDataTable thead th {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
#myDataTable_paginate .pagination {
  background-color: #f5f5f5;
  border: none;
}

#myDataTable_paginate .paginate_button {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 2px;
}

#myDataTable_paginate .paginate_button.current {
  background-color: #e0e0e0;
  color: #333;
}

</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-sm-2 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'dashboard') { %>active<% } %>" href="/admin/home">
            <i class="bi bi-speedometer2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'salesReport') { %>active<% } %>" href="/admin/sales-report">
            <i class="fas fa-chart-line"></i> Sales Report
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'products') { %>active<% } %>" href="/admin/products">
            <i class="bi bi-basket"></i> Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'users') { %>active<% } %>" href="/admin/users">
            <i class="bi bi-people"></i> Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'orders') { %>active<% } %>" href="/admin/orders">
            <i class="bi bi-file-earmark-text"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'category') { %>active<% } %>" href="/admin/category">
            <i class="bi bi-grid-3x3-gap"></i> Category
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light"  href="/admin/addcategory"><i class="bi bi-plus" style="color: #000;"></i> Add Category </a>
            
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'coupon') { %>active<% } %>" href="/admin/coupon">
            <i class="bi bi-tags-fill"></i> Coupon
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light <% if (currentPage === 'banner') { %>active<% } %>" href="/admin/banner">
            <i class="fas fa-flag"></i> Banner
          </a>
        </li>
       
      </ul>
    </div>
    <div class="col-lg-10 col-sm-10">
      <table id="myDataTable" class="table mb-0 bg-white">

        <thead class="badge-warning">
          <tr>
            <th>#</th>
            <th>Category Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < category.length; i++) { %>
          <tr>
            <td>
              <div>
                <p><%= i + 1 %></p>
              </div>
            </td>
            <td>
              <div>
                <p><%= category[i].category_name %></p>
              </div>
            </td>
            <td>
              <div class="btn bg-secondary">
                <a class="text-light edit-link text-decoration-none" href="/admin/editcategory?id=<%= category[i]._id %>">Edit</a>
              </div>
            </td>
            <td>
              <div class="btn bg-danger">
                <a class="text-light delete-link text-decoration-none" href="/admin/deletecategory?id=<%= category[i]._id %>">Delete</a>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

<script>
  $(function() {
    $('#myDataTable').DataTable();
  });

  $(document).ready(function() {
    $('#addCategoryLink').click(function(e) {
      e.preventDefault();
      $('.navbar-brand.me-auto.btn.text-decoration-none').slideToggle('slow');
    });
  });
</script>

<script>
  // Add event listener to delete links
  document.querySelectorAll('.delete-link').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default link behavior
      var deleteUrl = link.getAttribute('href');

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          // Redirect to the delete URL after the user confirms the deletion
          window.location.href = deleteUrl;
        }
      });
    });
  });
</script>

<script>
  // Add event listener to edit links
  document.querySelectorAll('.edit-link').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default link behavior
      var editUrl = link.getAttribute('href');

      Swal.fire({
        title: 'Edit Category',
        text: 'Do you want to edit this category?',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
          // Redirect to the edit URL if the user confirms
          window.location.href = editUrl;
        }
      });
    });
  });
</script>

<script>
  // Retrieve the success message from the URL query parameter
  var urlParams = new URLSearchParams(window.location.search);
  var successMessage = urlParams.get('message');

  // Display the success message if it exists
  if (successMessage) {
    Swal.fire('Success', successMessage, 'success');
  }
</script>
<script>
  function function1(){
    console.log('fdfdfdfdfd');
  }
</script>

<%- include('../layout/footer.ejs',{admin:true}) %>