<%- include('../layout/header.ejs',{admin:true}) %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .sidebar {
      background-color: #FCC114;
      height: 100vh;
      padding-top: 20px;

      color: black
    }

    .sidebar-header {
      padding: 10px;
      text-align: center;
    }

    .sidebar-brand {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
    }

    .nav-item {
      margin-bottom: 10px;
    }

    .nav-link {
      color: #7E7E7E;
      font-weight: bold;
      transition: color 0.3s;
    }

    .nav-link.active {
      color: #575757;
    }

    .nav-link:hover {
      color: #FFFFFF;
    }

    .sidebar .nav-link.active {
      background-color: #000;
      border-radius: 10px;
    }
  </style>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-2 col-sm-2 sidebar">

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'dashboard') { %>active<% } %>" href="/admin/home">
              <i class="bi bi-speedometer2"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'products') { %>active<% } %>" href="/admin/products">
              <i class="bi bi-basket"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'users') { %>active<% } %>" href="/admin/users">
              <i class="bi bi-people"></i> Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'orders') { %>active<% } %>" href="/admin/orders">
              <i class="bi bi-file-earmark-text"></i> Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'category') { %>active<% } %>" href="/admin/category">
              <i class="bi bi-grid-3x3-gap"></i> Category 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light <% if (currentPage === 'coupon') { %>active<% } %>" href="/admin/coupon">
              <i class="bi bi-tags-fill"></i> Coupon 
            </a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link text-light" id="addCouponLink" href="/admin/addcoupon">
                  <i class="bi bi-plus"></i>Add Coupon
                </a>
              </li> -->
        </ul>
      </div>
      <div class="col-lg-8 col-sm-8">

        <div class="m-5 pt-5">
          <div>
            <h2>Edit Coupon</h2>
          </div>
          <div>
            <form action="/admin/edit-coupon" onsubmit="return validateDate(event)" method="post" enctype="multipart/form-data" >
              <div class="form-group my-3">
                <input type="text" name="couponId" value="<%=coupon._id%>" hidden>
      
                <label for="nameInput">Coupon Code</label>
                <input type="text" class="form-control form-control-sm" id="nameInput" name="code" placeholder="Enter coupon code" required value="<%=coupon.couponCode%>">
              </div>
              <%if(typeof message!=undefined&&err==2){%>
                <p id="message" style="color: red;"><%=message%></p> 
              <% }%>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Offer Percentage</label>
                <input type="number" class="form-control form-control-sm"  name="percentage" placeholder="Enter Offer Percentage" required value="<%=coupon.percentage%>">
              </div>
              <%if(typeof message!=undefined&&err==1){%>
                <p id="message" style="color: red;"><%=message%></p> 
              <% }%>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Starting Date</label>
                <input type="date" class="form-control form-control-sm" name="startingDate" placeholder="Enter date" id="startingDateInput" required>
              </div>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Expire Date</label>
                <input type="date" class="form-control form-control-sm"  name="expiryDate" placeholder="Enter date" required id="expiryDateInput">
              </div>
              <div class="form-group my-3">
                <label for="nameInput">Coupon Description</label>
                <input type="text" class="form-control form-control-sm"  name="description" placeholder="Enter description" required value="<%=coupon.description%>">
              </div>
              <div>
                <label for="">upload Coupon Image</label>
                <input type="file" name="image" value="">
              </div>
            
          
              <div>
                <p class="text-success"></p>
              </div>
              <button type="submit" class="btn btn-primary my-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.0/luxon.min.js"></script>
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
<script>
  // Check if the message element exists
  var messageElement = document.getElementById('message');
  if (messageElement) {
    // Set a timeout to remove the message after 2 seconds
    setTimeout(function() {
      messageElement.remove();
    }, 2000);
  }
</script>
<script>
  function formatDate1(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    let month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
  
  // Get the expiryDate value from the coupon variable
  const expiryDate = '<%= coupon.expiryDate %>';
  const startingDate='<%= coupon.startingDate%>';
  // Format the expiryDate using the formatDate1 function
  const formatStartingDate=(formatDate1(startingDate))
  const formattedDate = formatDate1(expiryDate);

  // Set the formatted date as the value of an input field
  document.getElementById('expiryDateInput').value = formattedDate;
</script>
<script>
  function validateDate(event) {
    var selectedDateStr = document.getElementById("expiryDateInput").value;
    var selectedDate = luxon.DateTime.fromFormat(selectedDateStr, 'dd-MM-yyyy');
    
    var currentDate = luxon.DateTime.local();
    var minimumDate = currentDate.plus({ days: 3 });

    if (selectedDate < minimumDate) {
      event.preventDefault(); // Prevent form submission
      alert("Please select a date at least 3 days from today.");
      return false;
    }

    return true;
  }
</script>












  <%- include('../layout/footer.ejs',{admin:true}) %>
</body>

</html>