<!-- 
   <!DOCTYPE html>
   <html>
   <head> -->
<%-include('../layout/header.ejs',{admin:false})%>
<title>Delivery Page</title>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="/public/stylesheet/selectaddress.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="container delivery-container">
    <div class="step-container d-flex justify-content-between align-items-center mb-4">
      <div class="step-item ">
        <div class="step-circle">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <span class="step-heading">Shopping Cart</span>
      </div>
      <div class="step-line"></div>
      <div class="step-item active">
        <div class="step-circle motion-effect">
          <i class="fas fa-check-circle"></i>
        </div>
        <span class="step-heading">Checkout</span>
      </div>
      <div class="step-line"></div>
      <div class="step-item">
        <div class="step-circle">
          <i class="fas fa-truck"></i>
        </div>
        <span class="step-heading">Order Complete</span>
      </div>
    </div>
    <div>
      <form action="/selectaddress" method="post" id="addressForm">
        <h4>Delivery Address</h4>
        <table class="address-table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < address.length; i++) { %>
            <tr>
              <td>
                <input type="checkbox" name="index" value="<%= i %>" onclick="handleCheckbox(this)" <% if(i == 0) { %> checked <% } %>>
              </td>
              <td><%= user.firstName %> <%= user.lastName %></td>
              <td>
                <%= address[i].head %>, <%= address[i].street %>, <%= address[i].city %>, <%= address[i].state %>, <%= address[i].country %>
                <br>pincode: <%= address[i].pincode %>
                <br>LandMark: <%= address[i].landmark %>
              </td>
              <td><%= user.phone %></td>
              <td><%= user.email %></td>
              <td>

                <a href="/editaddresscheckout?index=<%= i %>" style="text-decoration: none;" id="edit"> <i class="fas fa-edit"></i></a>

              </td>
            </tr>
            <% } %>

          </tbody>




        </table>
        <a href="/userprofile" class="btn btn-info text-decoration-none">Add Address</a>
        <input type="text" name="addressIndex" id="selectedAddressIndex" value="0" hidden>
        <div class="text-right">

          <input type="submit" value="Proceed to Payment" class="btn btn-success">
        </div>
      </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
    




    <script>
      function handleCheckbox(checkbox) {
        $('input[name="index"]').not(checkbox).prop('checked', false);
        if (checkbox.checked) {
          $('#selectedAddressIndex').val(checkbox.value);
          console.log(checkbox.value);
        } else {
          // If none of the checkboxes are checked, set the value to the default (0)
          const checkedCheckbox = $('input[name="index"]:checked');
          if (checkedCheckbox.length === 0) {
            $('#selectedAddressIndex').val(0);
            console.log(0);
          }
        }
      }



      // $('#edit').on('submit',function(event){
      //       event.preventDefault();
      //     })

      // $('#addressForm').on('submit',function(event){
      //   event.preventDefault();
      // })
    </script>

</body>

</html>