<%- include('../layout/header.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
<style>
  body {
    margin-top: 100px;
  }

  #viewButtonDiv {
    margin-left: 350px;
  }
</style>
</head>

<body>
  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb mt-5">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>ORDERS</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->
  <section class="h-100 gradient-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-10">
          <%for(let i=0;i<orders.length;i++){%>


          <div class="container card my-3 border border-1" style="border-radius: 10px;">
            <a  href="/order-details?id=<%=orders[i].products[0]._id%>" style="text-decoration: none;">   <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h6 class="text-muted mb-0">Order Date : <%=orders[i].products[0].orderDate.toLocaleDateString()%></h6>
                <p class="small text-muted mb-0">Order ID : <%=orders[i].products[0]._id%></p>
              </div>
              <%for(let j=0;j<orders[i].products.length;j++){%>


              <div class="card shadow-0 border mb-4">
            <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img style="width: 40px;height: 30px;" src="/public/adminimage/<%=orders[i].products[j].image%>" class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0"><%=orders[i].products[j].name%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Color: <%=orders[i].products[j].color%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Size: <%=orders[i].products[j].size%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: <%=orders[i].products[j].quantity%></p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Price: &#8377;<%=orders[i].products[j].price%></p>
                    </div>
                  </div>

                </div>
              </div>
              <%}%>
            <div class="d-flex justify-content-between pt-2 align-items-center">
                <div>
                    <p class="fw-bold mb-0">Order Details</p>
                    <p class="text-muted mb-0 pt-2">Order Status : <%=orders[i].status[0]%></p>
              <p class="text-muted mb-0 pt-2">Payment Method : <%=orders[i].paymentMethod[0]%></p>
            </div>
            <h4 class="text-muted mb-0"><span class="fw-bold">Total: </span>&#8377;<%=orders[i].products[0].grandTotal%></h4>
          </div>

        </div>
        <div class="row card-footer border-0 py-4" style="background-color: #221e1e; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
     
          
            <% if(orders[i].status[0]!='delivered'&& orders[i].status[0]!='cancelled'&&orders[i].status[0]!='returned'&&orders[i].status[0]!='request-denied'){%>

            <div class="d-flex align-items-start">
              <a class="btn btn-danger text-white" onclick="cancelOrder('<%=orders[i].products[0]._id%>')">Cancel Order</a>
          </div>
          <%}%>
          <!-- <div class="col-md-6 text-right align-items-end" id="viewButtonDiv">
            <a> <button class="btn btn-secondary btn-sm" style="font-size: 12px;">View Details</button></a>
          </div> -->
        </div>
      </div></a>
      <hr>
      <%}%>
      </div>
    </div>
  </div>
</section>
       <%if(orders.length==0){%>
      <div style="height: 370px;">
        <h2 style="text-align: center;">No Order Placed.</h2>
      </div>
      <%}%>

<!-- {{!-- RETURN MODAL --}} -->

<!-- Modal -->

<!-- {{!-- RETURN MODAL --}} -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>

<script>
  function cancelOrder(orderId) {
      Swal.fire({
          title: 'Are you sure to cancel this order?',
          text: "We apologize if something happened wrong",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Cancel Order!',
          cancelButtonText: 'No, keep my order'
      }).then((result) => {
          if (result.isConfirmed) {
              Swal.fire(
                  'Cancelled!',
                  'Order has been cancelled.',
                  'success'
              ).then(() => {
                  window.location.href = '/cancel-order?orderId=' + orderId;
              });
          }
      });
  }
</script>

<script>
    var buttonFields = document.querySelectorAll('.return-button')
    buttonFields.forEach((button)=>{
        button.addEventListener('click',()=>{
            var orderid = button.getAttribute('data-bs-orderid')
            var modalField = document.getElementById('idField')
            modalField.value = orderid
        })
    })
</script>
<%- include('../layout/footer.ejs')%>
</body>

</html>